<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="center-buttons">
      <li><li> <%= link_to 'Bettergram', root_path, id:"bettergram" %></li></li>
      <li> <%= link_to 'search bar' %></li>
      <li> <%= link_to user.username, dashboard_path %></li>
      <li class="divider"></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>


<div class="row">
  <!-- binding.pry -->
  <% client.user_media_feed.each do |media| %>

  <div class="large-4 columns">
    <div class="card">
      <span class="title"><%= media["caption"]["from"]["username"] %></span>
      <div class="image">
        <%= image_tag media["images"]["low_resolution"].url %>
      </div>
      <div class="content">
        <p> <strong><%= media.likes["count"] %> likes</strong>
        <p><strong><%= media.caption.from.username %></strong>  <%= truncate(media["caption"].text, length: 300, omission: '...(continued)') %></p>
        <p> <% if media["caption"].text.length < 300 %>
          <% media.comments.data.first(3).each do |comment| %>
          <strong><%= comment.from.username %></strong>  <%= comment.text %> <% end %> </p>
          <% end %>
      </div>
      <div class="action">
        <a href='#'>put something here</a>
      </div>
    </div>
    <br>
  </div>
  <% end %>
</div>
<!-- <div class="large-12 columns">
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% client.user_media_feed.each do |media| %>
  <li><%= image_tag media["images"]["low_resolution"].url %></li>
  <% end %>
</ul>
</div> -->
