<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="center-buttons">
      <li> <%= link_to 'Bettergram', dashboard_feed_path, id:"bettergram" %></li>
      <li> <%= link_to 'search bar' %></li>
      <li> <%= link_to 'my feed', dashboard_feed_path %></li>
      <li> <%= link_to 'trending', dashboard_trending_path %></li>
      <li> <%= link_to 'Log out', logout_path, method: :delete %></li>
      <li class="divider"></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
<br>
<div class="row bump">
  <div class="small-12 large-12 columns">
    <div class="row">
      <div class="profile-card">
        <div class="small-6 large-4 columns">
          <%= image_tag post_user_pic(@id, @profile_client)%>
        </div>
        <div class="small-12 large-8 columns">
          <h3><%= post_user_username(@id, @profile_client) %></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% current_user.profile_posts(@id).each do |feed_item| %>
    <div class="small-4 columns">
      <div class="item-wrapper">
        <div class="img-wrapper">
          <%= image_tag low_img(feed_item) %>
        </div>
        <br>
      </div>
    </div>
  <% end %>
</div>
