<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="center-buttons">
      <li> <%= link_to 'Bettergram', dashboard_feed_path, id:"bettergram" %></li>
      <li> <%= link_to 'search bar' %></li>
      <li> <%= link_to 'my feed', dashboard_feed_path %></li>
      <li> <%= link_to 'trending', dashboard_trending_path %></li>
      <li> <%= link_to 'Log out', logout_path, method: :delete %></li>
      <li class="divider"></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
<br>
<div class="row bump">
  <div class="small-12 large-12 columns">
    <div class="row">
      <div class="profile-card">
        <div class="small-6 large-4 columns">
          <%= image_tag current_user.image %>
        </div>
        <div class="small-12 large-8 columns">
          <h3><%= current_user.username %>&nbsp; <span id='wtf'> <%= link_to 'EDIT PROFILE', "https://instagram.com/accounts/edit/" %></span></h3></div>
        <div class="small-12 large-8 columns">
          <p><%= current_user.client.user.bio %></p>
          <p id="blue-site"><%= current_user.website %></p>
          <% if current_user.client_user.bio.empty? %>
            <br>
          <% end %>
        </div>
        <div class="small-12 large-8 columns">
          <span id="profile-data"><strong> <%= current_user.client_user.counts.media %></strong> posts</span>
          <span id="profile-data"><strong> <%= current_user.client_user.counts.followed_by %></strong> followers</span>
          <span id="profile-data"><strong> <%= current_user.client_user.counts.follows %></strong> following</span>
          <span id="profile-data"><strong> <%= link_to 'view stats', stats_path %></strong></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% current_user.posts.each do |feed_item| %>
    <div class="small-4 columns">
      <div class="item-wrapper">
        <div class="img-wrapper">
          <div class="wrap">
          <%= image_tag low_img(feed_item)%>
          </div>
        </div>
        <br>
      </div>
    </div>
  <% end %>
</div>

